@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,500;1,800&display=swap');
@import "modules/variables";

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

// ultilities
.mb-2 {
    margin-bottom: 20px;
}

// general

body {
    margin: 0;
    padding: 0px;

    &.no-scroll {
        overflow-y: hidden;
    }
}

label {
    display: block;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

h2 {
    color: $darkblue;
    margin-bottom: 20px;
    font-weight: 100;
    color: $darkblue;
    margin-bottom: 20px;
    font-weight: 800;
}

#dino-image {
    width: 100%;
    max-width: 500px;
}

#home-container {
    background-image: url("../assets/iiisometric.svg");
    background-size: contain;
}

#results,
.results {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

.section {
    padding: 0 30px;
}

#hero {
    padding: 30px 50px 40px 50px;
    background-color: $lightblue;
    color: $darkblue;

    p {
        font-size: 26px;
    }
}

#footer {
    padding: 120px;
    background-color: $darkblue;
    color: $lightblue;

    p {
        font-size: 18px;
    }
}

// images

.photo-container {
    position: relative;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* nav */

#topnav {
    background: $darkblue;
    display: flex;
    padding: 20px;
}

#topnav #logo {
    width: 25%;
    color: $lightblue;
    font-weight: 600;
    font-size: 28px;
    margin-right: 30px;
    text-align: left;
}

#menu {
    width: 75%;
    padding-right: 30px;
}

#menu-button {
    float: right;
}

#topnav {
    text-align: right;
}

#topnav a {
    color: $lightblue;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
}

#button-container {
    width: 50%;
}

/* buttons */

button {
    background: none;
    border: none;
    display: block;
}

button:hover {
    cursor: pointer;
}

#hamburger-icon {
    color: $lightblue;
    font-size: 33px;
    position: relative;
    top: 2px;
}

#mobile-menu {
    width: 100%;
    height: 100%;
    background-color: $lightblue;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 25%;

    a {
        color: $darkblue;
        text-decoration: none;
        font-size: 30px;
        display: block;
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
    }
}


#close-nav-menu {
    z-index: 2;
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 53px;
    color: $darkblue;
}

#menu {
    display: none;
}

#menu-container {
    width: 100%;
}

#topnav a:hover {
    color: $lightblue;
}

.regular-button {
    color: white;
    background-color: $darkblue;
    padding: 10px 17px;
    border-radius: $light-border;
    text-decoration: none;
    margin-bottom: 10px;
}

#add-to-cart-button {
    color: $darkblue;
    background: $lightblue;
    border: 2px solid $darkblue;
    font-weight: 600;
}

.dinosaurs-link {
    text-decoration: none;
}

.dinosaurs-link img:hover {
    opacity: 0.7;
}

#menu {
    a:hover {
        color: white;
    }
}

// containers



.page-container {
    padding: 60px;
}

.item-container {
    h4 {
        color: $darkblue;
        margin: 10px 0;
        font-size: 22px;
    }

    img {
        width: 100%;
        max-width: 500px;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
}

.single-artist-container h4 {
    font-size: 45px;
}

// taxonomy

.taxonomy-term-pill {
    background: $lightyellow;
    color: $darkyellow;
    margin-right: 5px;
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 20px;

    &:hover {
        background: $darkyellow;
        color: $lightyellow;
        ;
    }
}

// form
input,
textarea {
    padding: 5px;
    border-radius: $very-light-border;
    border: none;
    border: 1px solid $darkblue;
    width: 300px;
    max-width: 100%;
    margin-bottom: 15px;
}

// bootstrap icons in buttons
a svg {
    position: relative;
    top: 2px;
}

#artists-grid {
    margin-bottom: 20px;
}

// pages`

#product-description {
    margin-bottom: 30px;
}

// notification
#notification {
    background-color: $lightgreen;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

// cart

// count-icon
#cart-count {
    position: absolute;
    top: 17px;
    right: 40px;
    background: red;
    padding: 0px 5px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
}

#cart-container {
    .product-container {
        display: flex;
        border: 1px solid $lightgrey;
        border-radius: $very-light-border;
        margin-bottom: 2px;
        padding: 10px;

        p {
            padding: 15px;
        }

        &:hover {
            transform: scale(1.04)
        }
    }

    img {
        width: 75px;
        height: 75px;
        border-radius: $very-light-border;
        margin-right: 10px;
        border: 1px solid $lightgrey;
    }

    #total-container {
        margin-bottom: 10px
    }

}

#rendered-products {
    margin-bottom: 20px
}

/* Media queries */
@media screen and (min-width: 780px) {
    h1 {
        font-size: 60px;
    }

    .results {
        grid-template-columns: repeat(3, 1fr);
    }

    .show-mobile-menu-button {
        display: none;
    }

    #menu {
        display: block;
        width: 75%;
    }

    #menu li {
        display: inline-block;
    }

    #menu-container {
        display: none;
    }

    // dino page
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .single-dino-container {
        #content {
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            max-width: 300px;
        }
    }

}